{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div>
        <nav class="navbar navbar-light bg-secondary">
            <section class="raw">
                <section class="col-12 col-sm-6 col-md-3">
                    <h3 >Signup</h3> 
                    <form action='' method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
            
                    <input type ="submit", value="signup">
                    </form>
                    <br/>
                   
                </section>
            </section>
        </nav>
    </div>
{% endblock %}